<h1>Course#delete</h1>
<p>Find me in app/views/course/delete.html.erb</p>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="course delete">
  <h2>Delete Course</h2>

  <%= form_for(:course, :url => {:action => 'destroy', :id => @Course.id}) do |f| %>

    <p>Are you sure you want to permanently delete?</p>

    <p class="reference-name"><%= @course.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Section") %>
    </div>

  <% end %>
</div>
